/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: rgba(13, 20, 29, 0.8)
 }

window#waybar.hidden {
  opacity: 0.2;
}
