/* -- Global rules -- */
* {
  border: none;
  font-family: "jetbrains-mono";
  font-size: 18px;
  min-height: 0px;
}

window#waybar {
  background: rgba(13, 20, 29, 0.8);
  border-bottom: 0.5px solid rgba(251,153,92,1);
  color: rgba(250,224,144,1); 
}

window#waybar.hidden {
  opacity: 0.2;
}
